@page
@model PlayModel
@{
    ViewData["Title"] = "Play"; 

}
@using Microsoft.AspNetCore.Http;
<h1>@ViewData["Title"]</h1>

<p>Welcome Player @HttpContext.Session.GetString("PlayerId");</p>


 <div class="row">
    <div class="col-sm">
        

                <div class="form-group">
                  <label for="playerId">PlayerId</label>
                  <input type="text" class="form-control" id="playerId" value="@HttpContext.Session.GetString("PlayerId")">
                  <a type="button" class="btn btn-primary" asp-page-handler="PlayerId">Get PlayerId</a>
                </div>
                <div class="form-group">
                        <form method="post">
            <label for="roomId">Room Id</label>
            <input type="text" class="form-control"  name="roomId" id="roomId" value="@HttpContext.Session.GetString("ActiveRoomId")">
    <button asp-page-handler="Register">Join Room</button>
    <button asp-page-handler="CreateRoom">Create Room</button>
</form>
 
                </div>

               
        

    </div>
  
  </div>
<p>
 
   
 
<p>
    <a asp-page-handler="Rumble"> Rumble </a>

</p>

@if (Model.SelectedGame != null)
{
    <img src="@string.Format("https://cdn.cloudflare.steamstatic.com/steam/apps/{0}/header.jpg", @Model.SelectedGame.AppId )" />

    <p>@Model.SelectedGame.Name</p>
}


 